* {
    font-family: 'Roboto', Arial, sans-serif;
        
}

.main-container {
    max-height: 780px;
    max-width: 780px;
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
           
}
 
.main-container > div {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 160px;
    background-color: aqua;


}
.inner-box {
    aspect-ratio: 1/1;
    background-color: beige;   
    flex: 0 1 160px;
}

.drawn {
    background-color: black;
}